// fonts
$font-family--primary: 'Roboto', 'Open Sans' !default;
$font-family--secondary: monospace !default;

// font weights
$font-weight--light: 300 !default;
$font-weight--normal: 400 !default
$font-weight--semi-bold: 600 !default;
$font-weight--bold: 700 !default;
$font-weight--extra-bold: 900 !default;

// font sizes
$font-size--xxxs: 1.2rem !default;
$font-size--xxs: 1.4rem !default;
$font-size--xs: 1.6rem !default;
$font-size--sm: 1.8rem !default;
$font-size--md: 2.1rem !default;
$font-size--lg: 3.0rem !default;
$font-size--xl: 3.6rem !default;
$font-size--xxl: 4.8rem !default;
$font-size--xxxl: 6.4rem !default;