.o-app {
  background: $gray-bright;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;

  &__header {
    flex: 1 1 auto;
    background: $white;
    box-shadow: $box-shadow-6px;
    width: 100%;
    z-index: 2;

    & > .c-container > .c-action-bar > .c-action-bar__left-icon.c-icon {

      //margin: -1.2rem;
      //padding: 1.2rem;

      &:hover {
        //background: $gray-dark;
        //color: $gray-light;
        cursor: pointer;
      }
    }
  }

  &__main {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  &__footer {
    background: $white;
    box-shadow: $box-shadow-6px;
    flex: 1 1 auto;
    width: 100%;
    z-index: 2;
  }
}

@media screen and (max-width: $breakpoint--phone - 1) {

}